<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href=" static/style.css" />
</head>
<body>

    <h2>Sign Up</h2>

    <form>
        <label>First Name</label><br>
        <input type="text" required><br><br>

        <label>Last Name</label><br>
        <input type="text" required><br><br>

        <label>Email</label><br>
        <input type="email" required><br><br>

        <label>Password</label><br>
        <input type="password" required><br><br>

        <label>Account Type</label><br>
        <select required>
            <option value="">Select</option>
            <option value="buyer">Buyer</option>
            <option value="seller">Seller</option>
        </select><br><br>

        <button type="submit">Create Account</button>
    </form>

    <p>Already have an account? <a href="signin.html">Sign in</a></p>

</body>
</html>
